<ion-view view-title="School Setup">

  <ion-content>

    <form nmae="myForm" >

      <div class="list">


        <label class="item item-input">

          <input type="text" placeholder="School Name" ng-model="newSchool.schoolName">
        </label>


        <label class="item item-input">

          <input type="text" placeholder="Branch Name" ng-model="newSchool.branchname">
        </label>


      <label class="item item-input">

        <input type="text" placeholder="Address" ng-model="newSchool.address">
      </label>


      <label class="item item-input">

        <input type="text" placeholder="Contact#" ng-model="newSchool.contactno">
      </label>


      <label class="item item-input">

        <input type="text" placeholder="Email" ng-model="newSchool.email">
      </label>
       <label class="item item-input">

         <input type="text" placeholder="Website" ng-model="newSchool.website">
      </label>

        <div class="item item-avatar">
          <img src="{{prev_img}}">
          <h2>School Logo</h2>


        </div>
        <!--<button class="button button-positive button-full" ng-click="openfiles()">browse</button>-->
        <input ng-model="photo"
               class="button button-positive"
               onchange="angular.element(this).scope().file_changed(this)"
               type="file"
               accept="image/*"
          />

      </div>


      <button type="submit" class="button button-positive button-full" ng-click="addNewSchool(newSchool)">
        Save
      </button>
      <!--
            <p class="errormessage" ng-show="pass != rpass">password not matched</p>
      -->

    </form>
  </ion-content>

</ion-view>
