<ion-view view-title="Home">

  <ion-content>

    <form name="myForm" class="list">


      <button ui-sref="schoolSetup"
              class="item button button-royal flex">School ........Setup
      </button>

      <button ui-sref="createUser"
              class="item button button-royal flex">Create ........Users
      </button>

      <button ui-sref="studentRegistration"
              class="item button button-royal  flex">Student Registration
      </button>

      <button ui-sref="studentRegistration"
              class="item button button-royal  flex">Student Activation
      </button>


    </form>

  </ion-content>

</ion-view>
