<ion-view view-title="Home">

  <ion-content>

    <form nmae="myForm" >

      <div class="row">

        <a href="#/schoolSetup">
        <div class="col"><button class="button button-positive">School ........Setup</button></div>
        </a>

        <a href="#/createUser">
          <div class="col"><button class="button button-positive">Create ........Users</button></div>
        </a>

      </div>

      <div class="row">

        <a href="#/studentRegistration">
        <div class="col"><button class="button button-positive">Student Registration</button></div>
        </a>


          <div class="col"><button class="button button-positive">Student Activation</button></div>


      </div>

    </form>
  </ion-content>

</ion-view>
