<ion-view view-title="Home">

  <ion-content>

    <form name="myForm" class="list">

      <a href="#/schoolSetup">
      <button ui-sref="schoolSetup"
              class="item button button-royal flex">School Setup
      </button>
      </a>

      <a href="#/createUser">
      <button ui-sref="createUser"
              class="item button button-royal flex">Create Users
      </button>

      </a>
      <a href="#/studentRegistration">
      <button ui-sref="studentRegistration"
              class="item button button-royal  flex">Student Registration
      </button>
      </a>
      <a href="#/usersActivation">
        <button ui-sref="Users/Student Activation"
                class="item button button-royal  flex">Students / User Activation
      </button>

      </a>

      <a href="#/classPromotion">
        <button ui-sref="classPromotion"
                class="item button button-royal  flex">Class Promotion
        </button>
      </a>
      <a href="#/viewStudentProgress">
        <button ui-sref="viewStudentProgress"
                class="item button button-royal  flex">View Student Progress
        </button>
      </a>
    </form>

  </ion-content>

</ion-view>
