<ion-view view-title="Student Registration">

  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" required placeholder="Student Id" ng-model="newStudent.studentid">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="GR.No." ng-model="newStudent.grno">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Student`Name" ng-model="newStudent.studentname">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Father`Name" ng-model="newStudent.fathername">
      </label>

      <label class="item item-input">
        <textarea placeholder="Address" ng-model="newStudent.address"></textarea>
      </label>

      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            Class
          </div>
          <select ng-model="newStudent.class">
            <option selected>I</option>

          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Section
          </div>
          <select ng-model="newStudent.section">
            <option selected>A</option>
            <option >B</option>
            <option>C</option>
            <option>D</option>
            <option>E</option>
          </select>
        </label>

      </div>


      <label class="item item-input item-select" ng-hide="newUser.group == 'Administrator'">
        <div class="input-label">
          School Name
        </div>
        <select ng-model="newUser.schoolName">

          <option> school 1</option>
          <option> school 2</option>
          <option> school 3</option>
          <option selected> school 4</option>

        </select>
      </label>

      <label class="item item-input item-select" ng-hide="newUser.group == 'Administrator'">
        <div class="input-label">
          Branch
        </div>
        <select ng-model="newUser.branch">

          <option> block 1 branch</option>
          <option> block 2 branch</option>
          <option> block 3 branch</option>
          <option selected> block 4 branch</option>

        </select>
      </label>

    </div>

    <button class="button button-positive button-full" ng-click="addNewStudent(newStudent)"> Save</button>
    <button class="button button-positive button-full" ng-click="getStudentId()"> Get Student Id</button>
  </ion-content>

</ion-view>
