<ion-view view-title="Student Registration">

  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Student Id">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="GR.No.">
      </label>

      <label class="item item-input">
        <input type="text" placeholder="Student`Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Father`Name">
      </label>

      <label class="item item-input">
        <textarea placeholder="Address"></textarea>
      </label>

      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            Class
          </div>
          <select>
            <option selected>I</option>

          </select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Section
          </div>
          <select>
            <option selected>A</option>
            <option >B</option>
            <option>C</option>
            <option>D</option>
            <option>E</option>
          </select>
        </label>

      </div>



    </div>

    <button class="button button-positive button-full">
      Save
    </button>

  </ion-content>

</ion-view>
