<ion-view view-title="Sign In">

  <ion-content>

    <form onsubmit="alert();">

      <div class="list">
        <label class="item item-input">
          <input required aria-required="true" type="text" placeholder="Username">
        </label>

        <label class="item item-input">
          <input required type="password"  placeholder="Password">
        </label>
      </div>

      <button type="submit" class="button button-positive button-full">
        Log In
      </button>


    </form>
  </ion-content>

</ion-view>
