<ion-view view-title="Login">

  <ion-content>

    <form ng-submit="doLogin()">

      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input required type="text" placeholder="Username" ng-model="loginData.username">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input required type="text" placeholder="Password" ng-model="loginData.password">
        </label>

        <button type="submit" class="button button-positive button-full">
          Log In
        </button>

      </div>

    </form>


    <ul>
      <li ng-repeat="items in userNode">{{items | json}}</li>
    </ul>
  </ion-content>

</ion-view>
