<ion-view view-title="Sign In">

  <ion-content>

    <form nmae="myForm" >
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="pwd">
        </label>
      </div>

      <button type="submit" class="button button-positive button-full">
        Log In
      </button>


    </form>
  </ion-content>

</ion-view>
